.container {
    max-width: 960px;
    margin: 0 auto;
}

hr {
    margin: 20px 0;
}

section {
    /*background-color: #f2f2f2;
    border: 2px solid rgba(109, 163, 152, .4);*/
    border: 1px solid black;
    padding: 10px 20px;
    margin: 20px;
    overflow: hidden;
}

.tableContainer {
    margin-bottom: 50px;
}

.explanationParagraph {
    background-color: #DCD6B2;
    padding: 2%;
}

.explanationParagraph a {
    color: #FFF;
    text-decoration: underline;
}