/* TYPOGRAPHY STYLING */

* {
    padding: 0;
    margin: 0;
}


/* General */

body {
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    font-weight: 400;
}


/* Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    margin: 0 0 .2em 0;
}

h1 {
    font-weight: 700;
    font-size: 5.063em;
    line-height: 1.2;
    margin: 0 0 .2em 0;
}

h2 {
    font-weight: 700;
    font-size: 3.375em;
    line-height: 1.2;
}

h3 {
    font-weight: 700;
    font-size: 2.25em;
    line-height: 1.2;
}

h4 {
    font-weight: 700;
    font-size: 1.5em;
    line-height: 1.5;
    margin: .2em 0;
}

h5 {
    font-weight: 700;
    font-size: 0.92em;
    line-height: 2.0;
}

h6 {
    font-weight: 700;
    font-size: 0.667em;
    line-height: 2.5;
    margin: .2em 0;
}


/* Paragraphs */

p {
    font-weight: 300;
    line-height: 1.2;
    font-size: 1.0em;
    padding: .2em;
}


/* Quoting */

q {
    font-style: italic;
}

blockquote {
    margin: 20px 0;
}

blockquote p {
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    line-height: 1.6;
    font-style: italic;
}

blockquote p:before {
    color: #000;
    content: open-quote;
    font-size: 3em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.3em;
}

blockquote p:after {
    color: #000;
    content: close-quote;
    font-size: 3em;
    line-height: 0.2em;
    vertical-align: -0.3em;
}

blockquote p {
    display: inline;
}

blockquote footer {
    padding: 10px;
}

blockquote footer:before {
    padding-left: 10%;
    content: "- ";
}

cite {
    font-weight: 600;
}


/* Code */

code {
    background-color: #d9d9d9;
    padding: 5px 5px 0 5px;
}

kbd {
    background-color: #000000;
    color: #FFF;
    padding: 3px 3px 0 3px;
}

var {
    font-size: .9em;
    padding: 3px 3px 0 3px;
}


/* Inline Styles */

strong {
    font-weight: 700;
}

em {
    font-weight: 400;
}

a {
    color: blue;
}

u {}

mark {
    background-color: #EDEDAB;
    padding: 5px 5px 1px 5px;
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.capitalize {
    text-transform: capitalize;
}


/* Lists */

ol {
    padding: .5em;
    margin-left: .5em;
}

ul {
    padding: .5em;
    margin-left: .5em;
}


/* Other */

abbr {}

address {}

.left {
    display: inline-block;
    float: left;
}

.center {
    clear: both;
    text-align: center;
}

.right {
    display: inline-block;
    float: right;
}


/* TABLE STYLING */


/*Add general table rules*/

/*Add striped table rules*/

/*Add responsive table rules*/


/* FORM STYLING */


/* Style drop down list more, fieldset*/

.formcontainer {
    box-sizing: border-box;
    width: 100%;
    margin: .05% auto;
    background: #f2f2f2;
    padding: 2%;
    /*border: 1px solid rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 0 24px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 0 24px rgba(0, 0, 0, 0.12);
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.12);*/
}

.formcontainer h1,
.formcontainer h2 {
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    text-align: center;
}

.formcontainer h1 {
    font-weight: 300;
    font-size: 36px;
    line-height: 1.2em;
}

.formformcontainer h2 {
    font-size: 16px;
    line-height: 1.4em;
    margin-bottom: 20px;
}

.formcontainer .block {
    padding: 10px;
    border: 1px solid #535a83;
    margin-top: 6px;
}

.formcontainer .block em {
    text-align: right;
    display: block;
    font-style: normal;
    color: rgba(0, 0, 0, 0.7);
    margin-top: -4px;
    margin-bottom: 4px;
    font-size: 12px;
}

.checkbox form,
.radio form {
    display: inline-block;
}

.checkbox input,
.radio input,
.checkbox label,
.radio label {
    cursor: pointer;
}

.checkbox input,
.radio input {
    opacity: 0;
    position: absolute;
}

.checkbox input + label,
.radio input + label {
    line-height: 22px;
    display: inline-block;
    padding: 2px;
    margin: 2px 8px -2px 0;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.checkbox input + label:before,
.radio input + label:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -2px;
    margin-right: 6px;
    border-radius: 6px;
    height: 20px;
    width: 20px;
    border: 2px solid #535a83;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.checkbox input + label:hover,
.radio input + label:hover {
    color: #aeb8d6;
}

.checkbox input + label:hover:before,
.radio input + label:hover:before {
    border-color: #aeb8d6;
}

.checkbox input:checked + label,
.radio input:checked + label {
    color: #aeb8d6;
}

.checkbox input:checked + label:before,
.radio input:checked + label:before {
    background: #aeb8d6;
    border-color: #535a83;
}

.checkbox input:checked + label:hover:before,
.radio input:checked + label:hover:before {
    border-color: #aeb8d6;
}

.radio input + label:before {
    border-radius: 50%;
}

.dropdown select {
    border-radius: 6px;
    outline: none;
    line-height: 14px;
    font-size: 14px;
    padding: 4px 8px;
    margin-right: 6px;
    background: transparent;
    border: 2px solid rgba(0, 0, 0, 0.5);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.dropdown select option {
    border-radius: 6px;
    outline: none;
    line-height: 14px;
    font-size: 14px;
    padding: 4px 8px;
    margin-right: 6px;
    background: transparent;
    border: 2px solid rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.textarea textarea,
.text-input input {
    border-radius: 6px;
    outline: none;
    line-height: 14px;
    font-size: 14px;
    padding: 4px 8px;
    margin-right: 6px;
    background: transparent;
    border: 2px solid rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.textarea textarea:focus,
.text-input input:focus {
    border-color: #a4abc1;
    color: rgba(0, 0, 0, 0.8);
}

.dropdown label,
.textarea label,
.text-input label {
    position: relative;
    float: left;
    top: 6px;
    margin-right: 10px;
    color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.textarea input:focus + label,
.text-input input:focus + label {
    color: rgba(0, 0, 0, 0.8);
}

.textarea .form-group,
.text-input .form-group {
    display: inline-block;
}

.textarea .form-group {
    width: 100%;
}

.textarea textarea {
    width: 84%;
    min-height: 6em;
}

.stacked .form-group {
    width: 100%;
    display: block;
    margin-bottom: 6px;
}

.stacked .form-group label {
    width: 16%;
    margin-bottom: 10px;
}

.stacked .form-group input {
    width: 84%;
    margin: 0;
}

.text-input input:focus + label {
    color: rgba(0, 0, 0, 0.8);
}


/* BUTTON STYLING */

button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
    display: inline-block;
    position: relative;
    margin: 10px;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    letter-spacing: .10em;
    font-weight: 400;
    text-transform: uppercase;
    border-radius: 2px;
}

.transparent {
    color: #ffffff;
    border-color: rgba(0, 0, 0, 0.3);
    background-color: rgba(0, 0, 0, 0.3);
}

.transparent:hover,
.transparent:focus {
    background-color: #ffffff;
    color: #0d3155;
    -webkit-transition-property: background-color;
    -webkit-transition-duration: .5s;
}

.transparent:active {
    background-color: #ffffff;
    color: #0d3155;
    -webkit-transition-property: background-color;
    -webkit-transition-duration: .5s;
    -webkit-box-shadow: inset 0px 1px 3px 2px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: inset 0px 1px 3px 2px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0px 1px 3px 2px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.white {
    color: #0d3155;
    background: #ffffff;
}

.white:hover,
.white:focus {
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    border-color: rgba(0, 0, 0, 0.3);
    -webkit-transition-property: background-color;
    -webkit-transition-duration: .5s;
}

.white:active {
    background-color: rgba(0, 0, 0, 0.1);
    color: #0d3155;
    -webkit-transition-property: background-color;
    -webkit-transition-duration: .5s;
    -webkit-box-shadow: inset 0px 1px 3px 2px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: inset 0px 1px 3px 2px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0px 1px 3px 2px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.disabled {
    cursor: pointer;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.1);
}

.xsmall {
    padding: 3px 7px;
    font-size: 12px;
    border-radius: 3px;
    font-weight: 300;
}

.medium {
    padding: 6px 25px;
    font-size: 14px;
    border-radius: 3px;
    font-weight: 300;
}

.large {
    padding: 10px 30px;
    font-size: 18px;
    border-radius: 3px;
    font-weight: 300;
}