/* ------ SCSS ------ */
/* VARIABLES */
/*$primary-color: rgba(0, 0, 0, 0.2);*/
/*$secondary-color: #aeb8d6;*/
/*$light-secondary: #dde1ee;*/
/* MIXINS */
/* ------ TYPOGRAPHY STYLING ------ */
* {
  padding: 0;
  margin: 0; }

/* General */
body {
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  font-weight: 400; }

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin: 0 0 .2em 0; }

h1 {
  font-size: 5.063em;
  line-height: 1.2; }

h2 {
  font-size: 3.375em;
  line-height: 1.2; }

h3 {
  font-size: 2.25em;
  line-height: 1.2; }

h4 {
  font-size: 1.5em;
  line-height: 1.5; }

h5 {
  font-size: 0.92em;
  line-height: 2.0; }

h6 {
  font-size: 0.667em;
  line-height: 2.5; }

/* Paragraphs */
p {
  font-weight: 400;
  line-height: 1.2;
  font-size: 1.0em;
  padding: .2em; }

/* Quoting */
q {
  font-style: italic; }

.testimonial-quote {
  position: relative;
  margin-top: 30px; }
  .testimonial-quote blockquote {
    background: none;
    color: #0d3155;
    font-weight: 300;
    font-size: 1.2em;
    font-style: italic;
    line-height: 1.4 !important;
    padding-left: 160px;
    position: relative;
    text-shadow: 0 1px white;
    z-index: 50;
    min-height: 150px; }
    .testimonial-quote blockquote * {
      box-sizing: border-box; }
    .testimonial-quote blockquote p {
      line-height: 1.4 !important; }
      .testimonial-quote blockquote p:first-child:before {
        content: '\201C';
        color: #cfc796;
        font-size: 7.5em;
        font-weight: 700;
        opacity: .4;
        position: absolute;
        top: -.4em;
        left: 140px;
        text-shadow: none;
        z-index: -1; }
  .testimonial-quote img {
    border: 3px solid #cfc796;
    background-color: #cfc796;
    border-radius: 50%;
    display: block;
    width: 120px;
    height: 120px;
    position: absolute;
    top: -.2em;
    left: 0; }
  .testimonial-quote footer {
    color: #0d3155;
    display: block;
    font-size: .8em;
    margin-top: 1em; }
    .testimonial-quote footer cite {
      color: #cfc796;
      font-size: 1em;
      font-style: normal;
      font-weight: 700;
      letter-spacing: 1px;
      text-transform: uppercase;
      text-shadow: 0 1px #FFFfff; }

.testimonial-quote.right {
  display: block;
  margin-top: 30px; }
  .testimonial-quote.right blockquote {
    padding-left: 0;
    padding-right: 160px; }
    .testimonial-quote.right blockquote p {
      line-height: 1.4 !important; }
      .testimonial-quote.right blockquote p:first-child:before {
        content: '\201C';
        color: #cfc796;
        font-size: 7.5em;
        font-weight: 700;
        opacity: .4;
        position: absolute;
        top: -.4em;
        left: -.2em;
        text-shadow: none;
        z-index: -1; }
  .testimonial-quote.right img {
    left: auto;
    right: 0;
    top: -.2em; }
  .testimonial-quote.right footer {
    text-align: right; }

/* Code */
code {
  background-color: #d9d9d9;
  padding: 5px 5px 0 5px; }

kbd {
  background-color: #000000;
  color: #FFF;
  padding: 3px 3px 0 3px; }

var {
  font-size: .9em;
  padding: 3px 3px 0 3px; }

/* Inline Styles */
strong {
  font-weight: 700; }

em {
  font-weight: 400; }

mark {
  background-color: #EDEDAB;
  padding: 5px 5px 1px 5px; }

a {
  color: #cfc796; }
  a:hover {
    color: #0d3155;
    font-weight: 700; }

.uppercase {
  text-transform: uppercase; }

.lowercase {
  text-transform: lowercase; }

.capitalize {
  text-transform: capitalize; }

/* Lists */
ol {
  padding: .5em;
  margin-left: .5em; }

ul {
  padding: .5em;
  list-style: none; }
  ul li:before {
    content: "\002022";
    color: #cfc796;
    margin-right: .5em; }

/* Other */
abbr[title] {
  border-bottom: none;
  text-decoration: none;
  font-variant: none;
  cursor: help; }

address {
  display: block; }

.left {
  display: inline-block;
  float: left; }

.center {
  clear: both;
  text-align: center; }

.right {
  display: inline-block;
  float: right; }

/* ------ TABLE STYLING ------ */
/*Add responsive table rules*/
table {
  border-collapse: collapse;
  width: 100%; }
  table caption {
    font-size: 1.5em;
    line-height: 1.5;
    text-transform: uppercase;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.8); }

.standard thead th {
  font-weight: 400;
  border-bottom: 2px solid #DCD6B2;
  line-height: 1.5;
  padding: 0.75em;
  text-transform: uppercase;
  text-align: center; }
.standard tbody tr {
  border-bottom: 1px solid #cfc796; }
  .standard tbody tr td {
    line-height: 1.5;
    padding: 0.75em;
    text-align: left; }
.standard tbody tr:hover {
  background-color: #DCD6B2;
  border-bottom: 1px solid #cfc796;
  border-top: 1px solid #cfc796; }
  .standard tbody tr:hover td {
    color: rgba(0, 0, 0, 0.8); }

.striped thead th {
  font-weight: 400;
  line-height: 1.5;
  padding: 0.75em;
  text-transform: uppercase;
  text-align: center; }
.striped tbody tr:nth-of-type(odd) {
  background-color: #efecdc; }
.striped tbody tr td {
  line-height: 1.5;
  padding: 0.75em;
  text-align: left; }
.striped tbody tr:hover {
  background-color: #DCD6B2; }
  .striped tbody tr:hover td {
    color: rgba(0, 0, 0, 0.8); }

.bordered {
  border: 1px solid #cfc796; }
  .bordered thead {
    border: 1px solid #cfc796; }
    .bordered thead th {
      font-weight: 400;
      border-bottom: 2px solid #DCD6B2;
      line-height: 1.5;
      padding: 0.75em;
      text-transform: uppercase;
      text-align: center; }
  .bordered tbody tr {
    border-bottom: 1px solid #cfc796; }
    .bordered tbody tr td {
      border: 1px solid #cfc796;
      line-height: 1.5;
      padding: 0.75em;
      text-align: left; }
  .bordered tbody tr:hover {
    background-color: #DCD6B2;
    border-bottom: 1px solid #cfc796;
    border-top: 1px solid #cfc796; }
    .bordered tbody tr:hover td {
      color: rgba(0, 0, 0, 0.8); }

/* ------ FORM STYLING ------ */
/* Style drop down list with js */
.formcontainer {
  box-sizing: border-box;
  width: 100%;
  margin: .05% auto;
  padding: 2%; }
  .formcontainer h1 {
    font-weight: 300;
    font-size: 36px;
    line-height: 1.2em; }
  .formcontainer h2 {
    font-size: 1em;
    line-height: 1.4em;
    margin-bottom: 20px; }
  .formcontainer h1,
  .formcontainer h2 {
    padding: 0;
    margin: 0;
    text-align: center; }
  .formcontainer fieldset {
    padding: 10px;
    border: 1px solid #DCD6B2;
    margin-top: 6px; }
    .formcontainer fieldset:disabled input,
    .formcontainer fieldset:disabled select {
      color: rgba(0, 0, 0, 0.8);
      background-color: rgba(0, 0, 0, 0.1);
      border-color: rgba(0, 0, 0, 0.1);
      cursor: not-allowed; }
    .formcontainer fieldset:disabled input + label {
      color: rgba(0, 0, 0, 0.8);
      border-color: rgba(0, 0, 0, 0.1);
      cursor: not-allowed; }
      .formcontainer fieldset:disabled input + label:hover:before {
        border-color: #DCD6B2; }
    .formcontainer fieldset legend {
      text-align: right;
      display: block;
      font-style: normal;
      color: rgba(0, 0, 0, 0.8);
      margin-bottom: 8px;
      padding: 5px;
      font-size: .667em; }

.checkbox form,
.radio form {
  display: inline-block; }
.checkbox input,
.checkbox label,
.radio input,
.radio label {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8); }
.checkbox input,
.radio input {
  opacity: 0;
  position: absolute; }
  .checkbox input:checked + label,
  .radio input:checked + label {
    color: #DCD6B2; }
  .checkbox input:checked + label:before,
  .radio input:checked + label:before {
    background-color: #DCD6B2;
    border-color: #DCD6B2; }
  .checkbox input:checked + label:hover:before,
  .radio input:checked + label:hover:before {
    border-color: #0d3155; }
.checkbox input + label,
.radio input + label {
  line-height: 22px;
  display: inline-block;
  padding: 2px;
  margin: 2px 8px -2px 0;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out; }
  .checkbox input + label:before,
  .radio input + label:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -2px;
    margin-right: 6px;
    border-radius: 6px;
    height: 20px;
    width: 20px;
    border: 2px solid #DCD6B2;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out; }
  .checkbox input + label:hover,
  .radio input + label:hover {
    color: #0d3155; }
    .checkbox input + label:hover:before,
    .radio input + label:hover:before {
      border-color: #0d3155; }

.dropdown select {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  outline: none;
  line-height: 14px;
  font-size: 14px;
  padding: 4px 8px;
  margin-right: 6px;
  background: transparent;
  border: 2px solid #DCD6B2;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer; }
  .dropdown select option {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    outline: none;
    line-height: 14px;
    font-size: 14px;
    padding: 4px 8px;
    margin-right: 6px;
    background: transparent;
    border: 2px solid #cfc796;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out; }

.textarea textarea,
.text-input input {
  border-radius: 6px;
  outline: none;
  line-height: 14px;
  font-size: 14px;
  padding: 4px 8px;
  margin-right: 6px;
  background: transparent;
  border: 2px solid #DCD6B2;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out; }
  .textarea textarea:focus,
  .text-input input:focus {
    border-color: #0d3155;
    color: rgba(0, 0, 0, 0.8); }

.dropdown label,
.textarea label,
.text-input label {
  position: relative;
  float: left;
  top: 6px;
  margin-right: 10px;
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out; }

.textarea input:focus + label,
.text-input input:focus + label {
  color: rgba(0, 0, 0, 0.8); }

.textarea .form-group,
.text-input .form-group {
  display: inline-block; }

.text-input input:focus + label {
  color: rgba(0, 0, 0, 0.8); }

.textarea .form-group {
  width: 100%; }

.textarea textarea {
  width: 84%;
  min-height: 6em; }

.stacked .form-group {
  width: 100%;
  display: block;
  margin-bottom: 6px; }
  .stacked .form-group label {
    width: 16%;
    margin-bottom: 10px; }
  .stacked .form-group input {
    width: 84%;
    margin: 0; }

/* ------ BUTTON STYLING ------ */
button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  display: inline-block;
  position: relative;
  margin: 10px;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  font-family: 'Lato', sans-serif;
  letter-spacing: .10em;
  font-weight: 400;
  text-transform: uppercase;
  border-radius: 2px; }

.transparent {
  color: #FFFfff;
  border-color: #cfc796;
  background-color: #cfc796; }
  .transparent:hover, .transparent:focus {
    background-color: #FFFfff;
    color: #0d3155;
    -webkit-transition-property: background-color;
    -webkit-transition-duration: 0.5s; }
  .transparent:active {
    background-color: #FFFfff;
    color: #0d3155;
    -webkit-transition-property: background-color;
    -webkit-transition-duration: 0.5s;
    -webkit-box-shadow: inset 0px 1px 3px 2px #cfc796;
    -moz-box-shadow: inset 0px 1px 3px 2px #cfc796;
    box-shadow: inset 0px 1px 3px 2px #cfc796;
    cursor: pointer; }

.white {
  color: #0d3155;
  background: #FFFfff; }
  .white:hover, .white:focus {
    background-color: #cfc796;
    color: #FFFfff;
    border-color: #cfc796;
    -webkit-transition-property: background-color;
    -webkit-transition-duration: 0.5s; }
  .white:active {
    background-color: rgba(0, 0, 0, 0.1);
    color: #0d3155;
    -webkit-transition-property: background-color;
    -webkit-transition-duration: 0.5s;
    -webkit-box-shadow: inset 0px 1px 3px 2px #cfc796;
    -moz-box-shadow: inset 0px 1px 3px 2px #cfc796;
    box-shadow: inset 0px 1px 3px 2px #cfc796;
    cursor: pointer; }

.disabled {
  cursor: pointer;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.6); }

.xsmall,
.medium,
.large {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-weight: 300; }

.xsmall {
  padding: 3px 7px;
  font-size: 12px; }

.medium {
  padding: 6px 25px;
  font-size: 14px; }

.large {
  padding: 10px 30px;
  font-size: 18px; }

/*# sourceMappingURL=truss%20styles.css.map */
