/* Took some help from Eric Meyer's css reset articles. Removed some tags not supported in HTML5, such as, s, acronym, strike, tt, center, menu(works only in firefox), ruby(no thanks) and etc. <a> tag is seperate. */
html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, nav, output, section, summary, time, mark, audio, video {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  font-style: inherit;
  font-size: 100%;
  font-weight: inherit;
  font-family: inherit;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* This a definite part of any css reset.  */
address, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, nav, nav, section, summary {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

fieldset, img {
  border: 0;
}

/* ------ SCSS ------ */
/* VARIABLES */
/* MIXINS */
/* ------ TYPOGRAPHY STYLING ------ */
* {
  padding: 0;
  margin: 0;
}

/* General */
body {
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  font-weight: 400;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin: 0 0 .2em 0;
}

h1 {
  font-size: 5.063em;
  line-height: 1.2;
}

h2 {
  font-size: 3.375em;
  line-height: 1.2;
}

h3 {
  font-size: 2.25em;
  line-height: 1.2;
}

h4 {
  font-size: 1.5em;
  line-height: 1.5;
}

h5 {
  font-size: 0.92em;
  line-height: 2.0;
}

h6 {
  font-size: 0.667em;
  line-height: 2.5;
}

/* Paragraphs */
p {
  font-weight: 400;
  line-height: 1.2;
  font-size: 1.0em;
  padding: .2em;
}

/* Quoting */
q {
  font-style: italic;
}

blockquote {
  margin: 20px 0;
}
blockquote p {
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  line-height: 1.6;
  font-style: italic;
  display: inline;
}
blockquote p:before {
  color: #000;
  content: open-quote;
  font-size: 3em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.3em;
}
blockquote p:after {
  color: #000;
  content: close-quote;
  font-size: 3em;
  line-height: 0.2em;
  vertical-align: -0.3em;
}
blockquote footer {
  padding: 10px;
}
blockquote footer:before {
  padding-left: 10%;
  content: "- ";
}

cite {
  font-weight: 600;
}

/* Code */
code {
  background-color: #d9d9d9;
  padding: 5px 5px 0 5px;
}

kbd {
  background-color: #000000;
  color: #FFF;
  padding: 3px 3px 0 3px;
}

var {
  font-size: .9em;
  padding: 3px 3px 0 3px;
}

/* Inline Styles */
strong {
  font-weight: 700;
}

em {
  font-weight: 400;
}

a {
  color: blue;
}

mark {
  background-color: #EDEDAB;
  padding: 5px 5px 1px 5px;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.capitalize {
  text-transform: capitalize;
}

/* Lists */
ol {
  padding: .5em;
  margin-left: .5em;
}

ul {
  padding: .5em;
  margin-left: .5em;
}

/* Other */
.left {
  display: inline-block;
  float: left;
}

.center {
  clear: both;
  text-align: center;
}

.right {
  display: inline-block;
  float: right;
}

/* ------ TABLE STYLING ------ */
table {
  border-collapse: collapse;
  width: 100%;
}

thead th {
  font-weight: 400;
  border-bottom: 2px solid #aeb8d6;
  border-right: 5px solid #FFFfff;
  line-height: 1.5;
  padding: 0.75em;
  text-transform: uppercase;
  text-align: center;
}

tbody tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
tbody tr td {
  border-right: 5px solid #FFFfff;
  line-height: 1.5;
  padding: 0.75em;
  text-align: left;
}
tbody tr:hover {
  background-color: #aeb8d6;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}
tbody tr:hover td {
  border-right: none;
}

/*Add general table rules*/
/*Add striped table rules*/
/*Add responsive table rules*/
/* ------ FORM STYLING ------ */
/* Style drop down list with js */
.formcontainer {
  box-sizing: border-box;
  width: 100%;
  margin: .05% auto;
  padding: 2%;
}
.formcontainer h1 {
  font-weight: 300;
  font-size: 36px;
  line-height: 1.2em;
}
.formcontainer h2 {
  font-size: 1em;
  line-height: 1.4em;
  margin-bottom: 20px;
}
.formcontainer h1,
.formcontainer h2 {
  padding: 0;
  margin: 0;
  text-align: center;
}
.formcontainer fieldset {
  padding: 10px;
  border: 1px solid #aeb8d6;
  margin-top: 6px;
}
.formcontainer fieldset:disabled input,
.formcontainer fieldset:disabled select {
  color: rgba(0, 0, 0, 0.8);
  background-color: rgba(0, 0, 0, 0.1);
  border-color: rgba(0, 0, 0, 0.1);
  cursor: not-allowed;
}
.formcontainer fieldset:disabled input + label {
  color: rgba(0, 0, 0, 0.8);
  border-color: rgba(0, 0, 0, 0.1);
  cursor: not-allowed;
}
.formcontainer fieldset:disabled input + label:hover:before {
  border-color: #aeb8d6;
}
.formcontainer fieldset legend {
  text-align: right;
  display: block;
  font-style: normal;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 8px;
  padding: 5px;
  font-size: .667em;
}

.checkbox form,
.radio form {
  display: inline-block;
}
.checkbox input,
.checkbox label,
.radio input,
.radio label {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
}
.checkbox input,
.radio input {
  opacity: 0;
  position: absolute;
}
.checkbox input:checked + label,
.radio input:checked + label {
  color: #aeb8d6;
}
.checkbox input:checked + label:before,
.radio input:checked + label:before {
  background-color: #aeb8d6;
  border-color: #aeb8d6;
}
.checkbox input:checked + label:hover:before,
.radio input:checked + label:hover:before {
  border-color: #0d3155;
}
.checkbox input + label,
.radio input + label {
  line-height: 22px;
  display: inline-block;
  padding: 2px;
  margin: 2px 8px -2px 0;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.checkbox input + label:before,
.radio input + label:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -2px;
  margin-right: 6px;
  border-radius: 6px;
  height: 20px;
  width: 20px;
  border: 2px solid #aeb8d6;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.checkbox input + label:hover,
.radio input + label:hover {
  color: #0d3155;
}
.checkbox input + label:hover:before,
.radio input + label:hover:before {
  border-color: #0d3155;
}

.dropdown select {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  outline: none;
  line-height: 14px;
  font-size: 14px;
  padding: 4px 8px;
  margin-right: 6px;
  background: transparent;
  border: 2px solid #aeb8d6;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}
.dropdown select option {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  outline: none;
  line-height: 14px;
  font-size: 14px;
  padding: 4px 8px;
  margin-right: 6px;
  background: transparent;
  border: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.textarea textarea,
.text-input input {
  border-radius: 6px;
  outline: none;
  line-height: 14px;
  font-size: 14px;
  padding: 4px 8px;
  margin-right: 6px;
  background: transparent;
  border: 2px solid #aeb8d6;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.textarea textarea:focus,
.text-input input:focus {
  border-color: rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.8);
}

.dropdown label,
.textarea label,
.text-input label {
  position: relative;
  float: left;
  top: 6px;
  margin-right: 10px;
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.textarea input:focus + label,
.text-input input:focus + label {
  color: rgba(0, 0, 0, 0.8);
}

.textarea .form-group,
.text-input .form-group {
  display: inline-block;
}

.text-input input:focus + label {
  color: rgba(0, 0, 0, 0.8);
}

.textarea .form-group {
  width: 100%;
}

.textarea textarea {
  width: 84%;
  min-height: 6em;
}

.stacked .form-group {
  width: 100%;
  display: block;
  margin-bottom: 6px;
}
.stacked .form-group label {
  width: 16%;
  margin-bottom: 10px;
}
.stacked .form-group input {
  width: 84%;
  margin: 0;
}

/* ------ BUTTON STYLING ------ */
button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  display: inline-block;
  position: relative;
  margin: 10px;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  font-family: 'Lato', sans-serif;
  letter-spacing: .10em;
  font-weight: 400;
  text-transform: uppercase;
  border-radius: 2px;
}

.transparent {
  color: #FFFfff;
  border-color: rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.3);
}
.transparent:hover, .transparent:focus {
  background-color: #FFFfff;
  color: #0d3155;
  -webkit-transition-property: background-color;
  -webkit-transition-duration: 0.5s;
}
.transparent:active {
  background-color: #FFFfff;
  color: #0d3155;
  -webkit-transition-property: background-color;
  -webkit-transition-duration: 0.5s;
  -webkit-box-shadow: inset 0px 1px 3px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0px 1px 3px 2px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 1px 3px 2px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.white {
  color: #0d3155;
  background: #FFFfff;
}
.white:hover, .white:focus {
  background-color: rgba(0, 0, 0, 0.3);
  color: #FFFfff;
  border-color: rgba(0, 0, 0, 0.3);
  -webkit-transition-property: background-color;
  -webkit-transition-duration: 0.5s;
}
.white:active {
  background-color: rgba(0, 0, 0, 0.1);
  color: #0d3155;
  -webkit-transition-property: background-color;
  -webkit-transition-duration: 0.5s;
  -webkit-box-shadow: inset 0px 1px 3px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0px 1px 3px 2px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 1px 3px 2px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.disabled {
  cursor: pointer;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.6);
}

.xsmall,
.medium,
.large {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-weight: 300;
}

.xsmall {
  padding: 3px 7px;
  font-size: 12px;
}

.medium {
  padding: 6px 25px;
  font-size: 14px;
}

.large {
  padding: 10px 30px;
  font-size: 18px;
}

/* reponsive image */
.responsiveImg {
  width: 100%;
}

/* reponsive image with float */
.leftFloatImage {
  float: left;
  margin: .5em 1em 1em 0;
  width: 50%;
  min-width: 200px;
}

.rightFloatImage {
  float: right;
  margin: .5em 0 1em 1em;
  width: 50%;
  min-width: 200px;
}

@media (min-width: 0) and (max-width: 480px) {
  .leftFloatImage, .rightFloatImage {
    float: none;
    margin: 0 auto 2em;
    display: block;
    width: 95%;
    min-width: 300px;
  }
}
